/*
  Steven Cen w/ Andy Zheng
  IntroCS pd6 sec10
  HW05 -- Stuylin'
  2021-02-22
*/

h1 {
    color: #73FFEE 
}


h2 {
    color: #AFFF9C 
}

p {
    color: white;
    font: arial
}

ul {
    color: white
}

a {
  color: yellow
}
    
body {
    background-color: #180903 


